.dashboard{
    width: 100%;
    height: 100%;
    background: white;
    display: grid;
    grid-template-rows: 50px calc(100% - 51px);
    grid-template-columns: 200px auto;
    gap: 1px;
}
.dashboard .header{
    grid-column: 1 / span 2;
    line-height: 50px;
    border-bottom: 1px solid rgb(0,0,0,0.1);
}
.dashboard .menu{
    border-right: 1px solid rgb(0,0,0,0.1);
}
.dashboard .outlet{
    background: #F4F2F6;
}
.dashboard .header .logo{
    width: 40px;
    float: left;
    margin-top: 5px;
    margin-left: 10px;
}
.dashboard .header .logoText{
    font-size: 20pt;
    font-weight: bold;
    float: left;
    margin-left: 5px;
    color: #2D74BE;
}
.dashboard .header .logoText span{
    color: #3C4256;
}
.dashboard .header .logout{
    width: 30px;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
.dashboard .header .logout:hover{
    cursor: pointer;
    opacity: 0.5;
}
.dashboard .header .fullname{
    float: right;
    margin-right: 5px;
    font-weight: bold;
}